{% extends 'base.html' %}

{% block title %}Profile {% endblock %}

{% block content %}
<div class="login-container">
<h2>User Profile</h2>
<p>Email: {{ user.email }}</p>
<p>First Name: {{ user.fname }}</p>
<p>Last Name: {{ user.lname }}</p>
<p>Phone: {{ user.phone }}</p>
<p>CIN: {{ user.cin }}</p><br><br>
<form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn">Logout</button>
    <button type="submit" class="btn">Edit</button>
</form>
</div>
{% endblock %}