{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}

{% endblock stylesheets %}

{% block title %}Signup {% endblock %}

{% block content %}
<div class="login-container">
    <h2>Signup</h2>
    <form method="post" enctype="multipart/form-data" id="signup-form">
        {% csrf_token %}
        
        <div class="form-group">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            <div class="form-group">
                <label for="id_email">Email:</label>
                <input type="email" id="id_email" name="email" value="{{ form.email.value }}">
            </div>
            
            <div class="form-group">
                <label for="id_fname">First Name:</label>
                <input type="text" id="id_fname" name="fname" value="{{ form.fname.value }}">
            </div>
            
            <div class="form-group">
                <label for="id_lname">Last Name:</label>
                <input type="text" id="id_lname" name="lname" value="{{ form.lname.value }}">
            </div>
            
            <div class="form-group">
                <label for="id_phone">Phone:</label>
                {{ form.phone }}
            </div>
            
            <div class="form-group">
                <label for="id_cin">CIN:</label>
                <input type="text" id="id_cin" name="cin" value="{{ form.cin.value }}">
            </div>
            
            <div class="form-group">
                <label for="id_cin_image">CIN Image:</label>
                <input type="file" id="id_cin_image" name="cin_image" accept="image/*" onchange="previewImage(event)">
                <img id="cinPreview" src="#" alt="CIN Preview" style="max-width: 200px; max-height: 200px; margin-top: 10px; display: none;">
            </div>
        </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <span style="justify-content: center;display: flex;">
                    <input type="password" id="password" name="password">
                    
                    <img src="{% static 'hide.png' %}" id="showPassword" style="width: 30px;" onclick="togglePasswordVisibility()">
                </span>
           

            <div class="form-group">
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" >
            </div>
            
            </div>
    
            

        <button type="submit" class="btn">Submit</button>
    </form>
    <a href="{% url 'mylogin' %}">Already have an account? Login</a>
</div>

<script>
document.getElementById("signup-form").onsubmit = function() {
    var password = document.getElementById("password").value;
    var confirm_password = document.getElementById("password2").value;
    if (password != confirm_password) {
        alert("Passwords do not match");
        return false;
    }
};

// JavaScript to toggle password visibility
function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    var showPasswordImg = document.getElementById("showPassword");

    if (passwordInput.type === "password") {
        passwordInput.type = "text";
        showPasswordImg.src = "{% static 'view.png' %}";
    } else {
        passwordInput.type = "password";
        showPasswordImg.src = "{% static 'hide.png' %}";
    }
}

// Function to preview the uploaded image
function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function(){
        var cinPreview = document.getElementById('cinPreview');
        cinPreview.src = reader.result;
        cinPreview.style.display = "block";
    }
    reader.readAsDataURL(event.target.files[0]);
}

</script>

{% endblock %}
