.car-rented {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rcard {
    margin: 1%;
    display: flex;
    width: 75%;
    border: 2px solid black;
    border-radius: 0;
}

.rcard-content {
    min-height: 100%;
    width: 50%;
    display: flex;
    align-self: center;
    align-items: flex-start;
}

.rcard-content>ul>li {
    list-style: none;
}

.approval {
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.rcard-img {
    width: 30%;
}

.rcard-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.request-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width:500px) {
    .rcard {
        flex-direction: column;
        align-items: center;
    }
    .rcard-img {
        width: 100%;
    }
    .rcard-content {
        width: 100%;
    }
    .approval {
        width: 100%;
    }
}