{% extends 'base.html' %}

{% block title %}Car Requests{% endblock %}

{% block content %}
    <div class="request-container">
        <h2>Car Requests</h2>
        <table>
            <tr>
                <th>Request ID</th>
                <th>Created AT</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Car</th>
                <th>User</th>
                <th>Accepted</th>
                <th>Resolved</th>
            </tr>
            {% for request in car_requests %}
            <tr>
                <td >{{ request.id }}</td>
                <td > {{ request.created_at }}</td>
                <td > {{ request.start_date }}</td>
                <td > {{ request.finish_date }}</td>
                <td >{{ request.car.carname }}</td>
                <td > {{ request.user.fname }} {{ request.user.lname }}</td>
                <td >{% if request.accepted %} Yes {% else %} No {% endif %}</td>
                <td >{% if request.resolved %} Yes {% else %} No {% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
