
{% extends 'base.html' %}

{% block title %}Car Requests{% endblock %}

{% block content %}

<style>
    .rectangle {
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
        border: 1px solid #000;
    }
    .unavailable {
        background-color: red;
    }
    .waiting-approval {
        background-color: yellow;
    }
    .accepted {
        background-color: green;
    }
</style>

    <div class="request-container">
        <h2>Car Requests</h2>
        <table>
            <tr>
                <th>User</th>
                <th>phone/email</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Car</th>
                
                <th>Total price</th>
                <th>status</th>
                <th>Response</th>
                <th>Update</th>
            </tr>
            {% for request in car_requests %}
            {% if not request.resolved %}
            <form action="{% url 'requests' request.id %}" method="post"> {% csrf_token %}
            <tr>
                <td >{{ request.user.fname }} {{ request.user.lname }} : {{ request.info }}</td>
                <td > {{ request.user.email }} {{ request.user.phone }}</td>
                <td > {{ request.start_date }}</td>
                <td > {{ request.finish_date }}</td>
                <td >{{ request.car.carname }} <br><a href="{% url 'car-detail' pk=request.car.pk%}"><img src="{{request.car.image.url}}" alt="{{product.carname}}" style="height: 200px;"></a></td>
                <td > {{ request.total_price}} Dh</td>
                <td >{% if request.car.occupied    %} <div class="rectangle unavailable">car occupied</div>
                {%else%}<div class="rectangle accepted">car available</div> {%endif%} </td>


                <td > Accept <input type="checkbox" name="accepted"></td>
                <td><button type="submit">submit</button></td>
            </tr>
            
        </form>
            {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

