{% extends 'base.html' %}

{% block title %}Car Requests{% endblock %}

{% block content %}


<div class="request-container">
    <h2>Car Requests</h2>
    <div class="car-rented">
        {% for request in car_requests%}
        <div class="card">
                <div class="card-img">
                    <img src="{{request.car.image.url}}" alt="{{product.carname}}">
                </div>
                <div class="card-content">
                    <ul>
                        <li><strong>Car-name :</strong>{{ request.car.carname }} </li>
                        <li><strong>First/Last name :</strong>{{ request.user.fname }} {{ request.user.lname }} :</strong> {{ request.info }}</li>
                        <li><strong>Email/Phone :</strong>{{ request.user.email }} {{ request.user.phone }}</li>
                        <li><strong>Start date:</strong>{{ request.start_date }}</li>
                        <li><strong>Finish date:</strong>{{ request.finish_date }}</li>
                        <li><strong>Price :</strong>{{ request.total_price}} Dh</li>
                    </ul>
                </div>
                <div class="approval">
                    {% if not request.resolved    %}
                        <div class="rectangle waiting-approval" style="color:#4070F1">waiting-approval</div>
                        {%else%}  
                        {% if request.accepted  %} 
                            <div class="rectangle accepted" style="color:green;">accepted</div>
                        {%else%}
                            <div class="rectangle unavailable" style="color:red">denied</div>
                        {%endif%}
                    {%endif%} 
                </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
