{% extends 'base.html' %}

{% block title %}{{ car.carname }} {% endblock %}

{% block content %}

<section class="car-detail">
    <h2>{{ car.carname }}</h2>
    <div class="car-info">
        <img src="{{ car.image.url }}" alt="{{ car.carname }}" width="400" height="300">
        <ul>
            <li><strong>Car Name:</strong> {{ car.carname }}</li>
            <li><strong>Carburent:</strong> {{ car.carburent }}</li>
            <li><strong>Price per Day:</strong> {{ car.price_per_day }} DH</li>
            <li><strong>Plate:</strong> {{ car.plate }}</li>
            <li><strong>Occupied:</strong> {% if car.occupied %}Yes{% else %}No{% endif %}</li>
        
        </ul>
    </div>
    <div class="car-description">
        <h3>Description:</h3>
        <p>{{ car.info }}</p>
    </div>
    
    <form method="post" >
        {% csrf_token %}
        <input type="hidden" name="car_id" value="{{ car.id }}"><br>
        <h3>start date</h3>
        <input type="date" name="start-date" required>
        <h3>end date</h3>
        <input type="date" name="end-date" required><br>
        <textarea name="info" id="" cols="50" rows="10"></textarea>
        <button type="submit" class="btn">Rent Car</button>
    </form>
</section>
{% endblock %}
