{% extends 'base.html' %}

{% block title %}All Cars - Car Rental{% endblock %}

{% block content %}
<section class="all-cars">
    
    <!-- Search bar -->
    <form class="search-form" method="GET" action="{% url 'carpage' %}">
        <input type="text" name="q" placeholder="Search cars..." value="{{query}}">
        <button type="submit">Search</button>
    </form>
    
    <h2>All Available Cars</h2>

    <div class="car-list" >
        {% for product in cars %}
            {% if product.occupied != 1 %}
                <a class="car-item" href="{% url 'car-detail' pk=product.pk %}">
                    <img src="{{ product.image.url }}" alt="{{ product.carname }}" width="200" height="150">
                    <h3>{{ product.carname }} <br> {{ product.price_per_day }} DH</h3>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock %}
