{% extends 'base.html' %}

{% block title %}All Cars - Car Rental{% endblock %}

{% block content %}
<section class="all-cars">


    <!-- Search bar -->
  
    <form class="search-container" method="GET" action="{% url 'carpage'%}">
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" name="q" class="input-search" placeholder="Type to Search..." value="{{query}}">
        </div>
        <div class="date-select">
        <select class=“custom-select custom-select-xs” name='orderby' >
            <option value="az" {%if mode == 'az'%}selected {%endif%}>A-Z</option>
            <option value="za"{%if mode == 'za'%}selected {%endif%}>Z-A</option>
            <option value="price"{%if mode == 'price'%}selected {%endif%}>Price</option>
            <option value="pricer"{%if mode == 'pricer'%}selected {%endif%}>Price r</option>
        </select>
        <div class="start-end">
            <input type="date" name="start" value="{{start}}" min={{today}}>
            <input type="date" name="end" value="{{end}}" min={{today}}>
        </div>
        <button class="btn">submit</button>
        </div>
    </form>
    <div class="car-list">
        {% for product in cars%}
        {% if product.occupied != 1%}
        <a href="{% url 'car-detail' pk=product.pk%}">
            <div class="cards" style="background-image:url('{{product.image.url}}')">
                <div class="card-content">
                    <h3>{{product.carname}}</h3>
                    <h4>{{product.price_per_day}} DH</h4>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

</section>
{% endblock %}
