{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>Edit Car</h2>
  <form method="post" >
    {% csrf_token %}
    <label for="id_carname">Car Name:</label>
    <input type="text" id="id_carname" name="carname" value="{{ car.carname }}" required>
    <br>
    <label for="id_carburent">Carburent:</label>
    <input type="text" id="id_carburent" name="carburent" value="{{ car.carburent }}" required>
    <br>
    <label for="id_price_per_day">Price Per Day:</label>
    <input type="number" id="id_price_per_day" name="price_per_day" value="{{ car.price_per_day }}" required>
    <br>
    <label for="id_plate">Plate:</label>
    <input type="text" id="id_plate" name="plate" value="{{ car.plate }}" required>
    <br>
    <label for="id_image1">Image 1:</label>
    <input type="file" id="id_image1" name="image" accept="image/*">
    {% if car.image %}
      <br>
      <img src="{{ car.image.url }}" alt="Image 1" style="max-width: 200px;">
    {% endif %}
  
    <label for="id_info">Info:</label>
    <textarea id="id_info" name="info" required>{{ car.info }}</textarea>
    <br>
    
    <input type="checkbox" id="id_occupied" name="occupied" {% if car.occupied %}checked{% endif %}>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
