{% extends 'base.html' %}

{% block title %}Car Goes Far{% endblock %}

{% block content %}
    <section class="main-container">
        <h2>Explore Our Fleet</h2>
        <p>Choose from a variety of vehicles to suit your needs.</p>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    {% for product in cars%}
                    
                    <a href="{% url 'car-detail' pk=product.pk%}" class="card swiper-slide">
                    <div class="card swiper-slide">
                        <div class="image-content" style="background-image:url('{{product.image.url}}')">  
                                <div class="card-content">
                                    <h2 class="name">{{product.carname}}</h2>
                                    <p class="description">{{product.price_per_day}} DH</p>
                                    <button class="button">View More</button>
                                </div>
                            </div>
                    </div>
                    </a>
                    
                    {% endfor %}
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        <a href="{%url 'carpage'%} " class="btn">View more Cars</a>
    </section>
{% endblock %}
