<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    
    
</head>
<body>
    <header>
        <h1>Welcome to Our Car Rental Service</h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'carpage' %}">Cars</a></li>
                <li><a href="{% url 'carpage' %}">Requests</a></li>
                <li><a href="{% url 'mylogin' %}">Profile</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Car Rental Service</p>
    </footer>
</body>
</html>
