<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}Car Rental{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Base_style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'css/Nav-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/car-style.css' %}" >
    <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
    <link rel="stylesheet" href="{% static "css/slider-style.css" %}">
    <link rel="stylesheet" href="{% static 'css/car-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/requests.css'%}">
    <link rel="stylesheet" href="{% static 'css/car-details.css'%}">
    <link rel="stylesheet" href="{% static 'css/Profile.css'%}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="{% url 'homepage'%}">Home</a></li>
                <li><a href="{% url 'carpage'%}">Cars</a></li>
                <li><a href="{% url 'requests'%}">Requests</a></li>
                <li><a href="{% url 'mylogin'%}" id="mybtn">Profile</a></li>
            </ul>
            <h1 class="logo"><a href="{% url 'homepage'%}" class="logo">car goes far</a></h1>
        </div>
    </nav>
    <div class="main-container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
            <li class="social-icon__item">
                <a class="social-icon__link" href="#">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" href="https://github.com/ME17FD/car_goes_far">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li class="social-icon__item">
                <a class="social-icon__link" href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
        </ul>
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="{% url 'homepage' %}">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'carpage' %}">Cars</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'requests' %}">Requests</a></li>
            <li class="menu__item"><a class="menu__link" href="{% url 'mylogin' %}">Profile</a></li>

        </ul>
        <p>&copy;car goes far| All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{% static "js/swiper-bundle.min.js" %}"></script>
    <script src="{% static "js/slider-script.js" %}"></script>
    
</body>
</html>
